<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${offerte}">
	<h1>Update offer</h1>
	<form method="POST">
		<div>
			<label>start date</label>
			<input type="date" name="start_date" th:value="*{start_date}">
			<label style="color: red" th:if="${errors != null && errors.hasFieldErrors('start_date')}">
				[[ ${errors.getFieldError('start_date').defaultMessage} ]]
			</label>
		</div>
		
		<div>
			<label>end date</label>
			<input type="date" name="end_date" th:value="*{end_date}">	
			<label style="color: red" th:if="${errors != null && errors.hasFieldErrors('end_date')}">
				[[ ${errors.getFieldError('end_date').defaultMessage} ]]
			</label>	
		</div>
		
		<div>
			<label>title</label>
			<input type="text" name="title" th:value="*{title}">	
			<label style="color: red" th:if="${errors != null && errors.hasFieldErrors('title')}">
				[[ ${errors.getFieldError('title').defaultMessage} ]]
			</label>
		</div>
		
		<div>
			<label>discount</label>
			<input type="text" name="discount" th:value="*{discount}">	
			<label style="color: red" th:if="${errors != null && errors.hasFieldErrors('discount')}">
				[[ ${errors.getFieldError('discount').defaultMessage} ]]
			</label>
		</div>
		
		<div>
			<label>pizza_id</label>
			<select name="pizza" th:value="${offerte.pizza.id}">
				<option  th:each="piz : ${pizz}" th:object="${piz}" th:selected="${offerte.pizza.id} == *{id}" th:value="*{id}">[[ *{name} ]]</option>
			</select>	
		</div> 
		<input type="submit" value="Update offer">
	</form>
</body>
</html>